// primary
$nutmeg: hsl(14deg 45% 36%);
$dark-raspberry: hsl(332deg 51% 32%);

// neutral
$white: hsl(0deg 0% 100%);
$rose-white: hsl(330deg 100% 98%);
$egg-shell: hsl(30deg 54% 90%);
$light-gray: hsl(30deg 10% 34%);
$wenge-brown: hsl(30deg 10% 34%);
$dark-charcoal: hsl(24deg 5% 18%);
