@font-face {
  font-family: Outfit, sans-serif;
  src: url('../../public/assets/fonts//outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: YoungSerif;
  src: url('../../public/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
