@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;

* {
  padding: 0;
  margin: 0;
  font-family: Outfit, sans-serif;
  color: $wenge-brown;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 100dvw;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 736px;
  background-color: $white;

  @include media(md) {
    padding: 40px;
    border-radius: 24px;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include media(md) {
    padding: 120px;
    background-color: $white-coffee;
  }
}

.title {
  font-family: YoungSerif, sans-serif;
  color: $dark-charcoal;
}

.contentContainer {
  padding: 32px;

  @include media(md) {
    padding: 0;
  }
}

#instructions,
#ingredients {
  padding-block: 32px;
  border-bottom: 1px solid $white-coffee;
}

#nutrition,
.overviewContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

section {
  .title {
    padding-bottom: 16px;
    font-family: YoungSerif, sans-serif;
    color: $nutmeg;
  }
}

.list {
  padding-left: 16px;
  line-height: 2;

  .listitem {
    box-sizing: border-box;
    padding-left: 16px;
  }

  ::marker {
    color: $nutmeg;
  }
}

.card {
  padding: 24px;
  background-color: $rose-white;
  border-radius: 12px;

  .title {
    padding-bottom: 16px;
    font-size: 1.25rem;
    color: $nutmeg;
  }

  @include media(md) {
    padding: 28px;
  }
}

table {
  width: 100%;
}

tr {
  display: flex;
  border-bottom: 1px solid $white-coffee;

  &:last-child {
    border: none;
  }
}

td {
  flex: 1;
  padding: 0.75rem 0;
  padding-left: 1.5rem;

  &:last-child {
    font-weight: 600;
    color: $nutmeg;
  }
}

.heroImage {
  width: 100%;
  max-height: 300px;
  margin-bottom: 24px;

  @include media(md) {
    max-width: 656px;
    border-radius: 12px;
  }
}
