@use './colors' as *;
@use './fonts' as *;

.heading {
  font-family: YoungSerif, sans-serif;
  color: $nutmeg;
}

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}
